<div class="main-wrapper">
  <h1>Magic Git Hub Explorer</h1>
  <div class="article">
    <div class="logo">
      <img alt="Evil cat" src="https://pbs.twimg.com/media/DyhDtoaV4AEhoJJ.jpg" />
    </div>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;You can find your special user.
      Any user. You can find your special user.
      Any user.You can find your special user. Any user.
      You can find your special user. Any user.
      You can find your special user. Any user.
      You can find your special user. Any user.
      You can find your special user. Any user.
      You can find your special user. Any user.
      You can find your special user. Any user.You can find your special user. Any user.
      You can find your special user. Any user.You can find your special user. Any user.
      You can find your special user. Any user.You can find your special user. Any user.
      You can find your special user. Any user.You can find your special user. Any user.
      You can find your special user. Any user.You can find your special user. Any user.
      You can find your special user. Any user.You can find your special user. Any user.
      You can find your special user. Any user.You can find your special user. Any user.
      You can find your special user. Any user.You can find your special user. Any user.
      <br />&nbsp;&nbsp;&nbsp;&nbsp; Try it now

    </p>
  </div>
</div>
